.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 1em;
  color: white;
  margin-bottom: 1em;
}

img {
  display: inline-block;
  margin: 30px;
  padding: 0px;
}


.picture {
  display: inline-block;
}



.App-title {
  font-size: 1.5em;
}

